
# local artifacts
terraform/test
terraform/test2
terraform/path
.DS_Store

# terraform local vars
terraform.tfvars
*.tfvars
!terraform/ci.tfvars
# terraform state files (never commit these)
*.tfstate
*.tfstate.*
.terraform/