apiVersion: apps/v1
kind: Deployment
metadata:
  name: express-hello
  namespace: demo
  labels:
    app: express-hello
spec:
  replicas: 2
  selector:
    matchLabels:
      app: express-hello
  template:
    metadata:
      labels:
        app: express-hello
    spec:
      serviceAccountName: express-hello-sa
      containers:
        - name: app
          image: 851725248206.dkr.ecr.us-east-1.amazonaws.com/cnapp-demo/express-hello:latest
          imagePullPolicy: Always
          env:
            - name: MONGO_URI
              value: "mongodb://admin:MongoPass%402026Secure@10.0.1.115:27017/admin"
            - name: MONGO_DB
              value: "wizdb"
          ports:
            - containerPort: 3000
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 3
            periodSeconds: 5
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: express-hello
  namespace: demo
  labels:
    app: express-hello
spec:
  selector:
    app: express-hello
  ports:
    - name: http
      port: 80
      targetPort: 3000

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: express-hello
  namespace: demo
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /(.*)
            pathType: Prefix
            backend:
              service:
                name: express-hello
                port:
                  number: 80
